.ProductSelection {
    background-color: var(--clr-bg);
    color: var(--clr-white);
    padding: 5.21vw 0;
    border-radius: 0 0 50px 50px;
}

.ProductSelection_container {

    margin: 0 auto;
}

.ProductSelection_title {
    font-size: 2.6vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 0 2.08vw 0;
}

.ProductSelection_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.08vw;
    margin-bottom: 2.08vw;
}

.ProductSelection_card {

    background: linear-gradient(180deg, rgba(30, 13, 13, 0) 0%, #1e0d0d 100%);

    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

.ProductSelection_card_image {
    width: 100%;
    height: 25.42vw;

    border-radius: 1.04vw;
    overflow: hidden;
}

.ProductSelection_card_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ProductSelection_card_info {

    padding: 0.52vw 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: transparent;
}

.ProductSelection_card_name {
    font-size: 0.95vw;
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 1.1;
    margin: 0;
    text-transform: uppercase;
}

.ProductSelection_card_price {
    font-size: 0.9vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.1;
    margin: 0;
    text-transform: uppercase;
}

.ProductSelection_button {
    display: block;
    margin: 0 auto;
    padding: 0.55vw 11.8vw;
    background-color: transparent;
    border: 2px solid var(--clr-white);
    border-radius: 2.08vw;
    color: var(--clr-white);
    font-size: 0.83vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ProductSelection {
        padding: 6.51vw 0;
        border-radius: 0 0 30px 30px;
    }

    .ProductSelection_title {
        font-size: 5.21vw;
        margin-bottom: 3.91vw;
    }
    .ProductSelection_card_image{
        height: 27.8vw;
    }
    .ProductSelection_grid {
        grid-template-columns: 1fr 1fr;
        gap: 1.3vw;
        margin-bottom: 3.91vw;
    }

    .ProductSelection_card {

        border-radius: 1.3vw;
    }

    .ProductSelection_card_info {
        padding: 1.3vw  0;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.7vw;
    }

    .ProductSelection_card_name {
        font-size: 2.1vw;
    }

    .ProductSelection_card_price {
        font-size: 1.8vw;
    }

    .ProductSelection_button {
        padding: 2.08vw 20vw;
        border-radius: 5.21vw;
        font-size: 2.08vw;
    }
}

@media (max-width: 767px) {
    .ProductSelection {
        padding: 8.33vw 0;
        border-radius: 0 0 20px 20px;
    }

    .ProductSelection_title {
        font-size: 7.78vw;
        margin-bottom: 5.56vw;
    }

    .ProductSelection_grid {
        grid-template-columns: 1fr;
        gap: 5.56vw;
        margin-bottom: 5.56vw;
    }
    .ProductSelection_card_image{
        border-radius: 3vw;
        height: 41.42vw;
    }


    .ProductSelection_card_info {
        gap: 1.3vw;
        padding: 3vw 0;
        flex-direction: column;
        align-items: flex-start;
    }

    .ProductSelection_card_name {
        font-size: 4.44vw;
    }

    .ProductSelection_card_price {
        font-size: 4.44vw;
    }

    .ProductSelection_button {
        width: 100%;
        padding: 3.55vw 25vw;
        border-radius: 8.33vw;
        font-size: 3.89vw;
    }
}
