.Footer_container {
    border-top: 0.052vw solid rgba(255, 255, 255, 0.1);
    padding: 0 0 1.56vw;
}

.Footer_main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 0.3vw;
    margin-bottom: 2.08vw;
    width: 100%;
}

.Footer_logo_section {
    grid-column: 1 / 3;
    margin-top: 1.56vw;
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
}

.Footer_logo {
    width: 7.38vw;
    height: auto;
}

.Footer_social {
    display: flex;
    gap: 0.52vw;
    align-items: center;
}

.Footer_social_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.56vw;
    height: 1.56vw;
}

.Footer_social_link img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.Footer_column_0 {
    grid-column: 3 / 6;
}

.Footer_column_1 {
    grid-column: 7 / 10;
}


.Footer_column_2 {
    grid-column: 11 / 13;
}

.Footer_column_title {
    font-size: 1.4vw;
    font-weight: 400;
    margin-bottom: 0.83vw;
    letter-spacing: -0.03em;
    color: var(--clr-white);
}

.Footer_column_content {
    display: flex;
    gap: 8.2vw;
}

.Footer_column_list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.63vw;
}

.Footer_column_list a {
    color: var(--clr-white);
    text-decoration: none;
    font-size: 1.2vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.4;
    cursor: pointer;
}

.Footer_bottom {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.052vw solid rgba(255, 255, 255, 0.1);
    padding-top: 1.04vw;
}

.Footer_copyright {
    opacity: 0.5;
    font-size: 0.73vw;
    font-weight: 400;
    margin: 0;
    color: var(--clr-white);
}

.Footer_policy {
    display: flex;
    align-items: center;
    gap: 0.52vw;
    color: var(--clr-white);
    font-size: 0.73vw;
    margin: 0;
}

.Footer_policy img {
    height: 0.94vw;
    width: auto;
}

.Footer_logo_block{
    margin-top: 1.56vw;
    display: flex;
    flex-direction: column;
    gap: 1.56vw;
}

/* ========== TABLET (768px - 1024px) - 8 COLUMNS ========== */
@media (min-width: 768px) and (max-width: 1024px) {
    .Footer_container {
        padding: 0 2.60vw 1.60vw;
        border-top-width: 0.13vw;
    }

    .Footer_main {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        column-gap: 1.25vw;
        margin-bottom: 3.91vw;
        width: 100%;
    }

    .Footer_logo_section {
        grid-column: 1 / 3;
        margin-top: 3.5vw;
        gap: 2.60vw;
    }

    .Footer_logo {
        width: 9.7vw;
    }

    .Footer_social {
        gap: 1.04vw;
    }

    .Footer_social_link {
        width: 3.17vw;
        height: 7.17vw;
    }

    .Footer_social_link img {
        width: 2.5vw;
        height: 2.94vw;
    }

    .Footer_nav_columns {
        display: contents;
    }

    .Footer_column_0 {
        grid-column: 3 / 5;
    }

    .Footer_column_1 {
        grid-column: 5 / 7;
    }

    .Footer_column_2 {
        grid-column: 7 / 9;
    }

    .Footer_column {
        min-width: 0;
    }

    .Footer_column_title {
        font-size: 2.1vw;
        margin-bottom: 1.82vw;
    }

    .Footer_column_content {
        display: flex;
        flex-direction: column;
        gap: 1.56vw;
    }

    .Footer_column_list {
        gap: 1.56vw;
    }

    .Footer_column_list a {
        font-size: 1.65vw;
        line-height: 1.4;
    }

    .Footer_bottom {

        padding-top: 2.04vw;
        padding-bottom: 5vw;
        margin-top: 2.60vw;

    }

    .Footer_copyright,
    .Footer_policy {
        font-size: 1.2vw;
        align-items: flex-start;
    }

    .Footer_policy img {
        width: 11.55vw;
        height: 1.2vw;
    }

    .Footer_logo_block{
        margin-top: 3vw;
    align-items: center;
    }
}

/* ========== MOBILE (360px - 767px) ========== */
@media (max-width: 767px) {
    .Footer_container {
        padding: 8.33vw 5.56vw 5.56vw;
        border-top-width: 0.28vw;
    }

    .Footer_main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto;
        column-gap: 3.33vw;
        row-gap: 6.11vw;
        margin-bottom: 5.56vw;
    }

    .Footer_logo_section,
    .Footer_nav_columns {
        display: contents;
    }

    .Footer_logo {
        grid-column: 1;
        grid-row: 1;
        width: 15.78vw;
        align-self: start;
    }

    .Footer_social {
        grid-column: 1;
        grid-row: 2;
        display: flex;
        gap: 2.22vw;
        align-self: start;
    }

    .Footer_social_link {
        width: 8.89vw;
        height: 8.89vw;
    }

    .Footer_social_link img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .Footer_column_0 {
        grid-column: 2;
        grid-row: 1;
    }

    .Footer_column_1 {
        grid-column: 1;
        grid-row: 2;
    }

    .Footer_column_2 {
        grid-column: 2;
        grid-row: 2;
    }

    .Footer_column {
        min-width: 0;
    }

    .Footer_column_title {
        font-size: 4.44vw;
        line-height: 1.3;
        margin-bottom: 2.22vw;
    }

    .Footer_column_content {
        display: flex;
        flex-direction: column;
        gap: 1.94vw;
    }

    .Footer_column_list {
        display: flex;
        flex-direction: column;
        gap: 1.94vw;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .Footer_column_list a {
        font-size: 3.89vw;
        line-height: 1.4;
    }

    .Footer_bottom {
        padding-top: 3.04vw;
        padding-bottom: 5vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 2.78vw;
        margin-top: 4.17vw;

        border-top: 0.28vw solid rgba(255, 255, 255, 0.1);
    }

    .Footer_policy,
    .Footer_copyright {
        font-size: 2.5vw;
        margin: 0;
    }

    .Footer_policy {
        display: flex;
        align-items: center;
        gap: 1.39vw;
    }

    .Footer_policy img {
        height: 2.33vw;
        width: auto;
    }

    .Footer_logo_block{
        margin-top: 7vw;
        display: flex;
        flex-direction: column;
        gap: 5.56vw;
    }

    .Footer_social {
        width: 21.17vw;
    }
}
