.ProductInfo {
    background-color: var(--clr-bg);
    color: var(--clr-white);
    padding: 4.16vw 0;
}

.ProductInfo_container {
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}

.ProductInfo_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.08vw;
}

.ProductInfo_quote {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4.16vw 2.08vw;
    min-height: 50vw;
}

.ProductInfo_letter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'STIX Two Math', serif;
    font-size: 41.25vw;
    font-weight: 400;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.05);
    line-height: 1.1;
    z-index: 1;
    pointer-events: none;
}

.ProductInfo_quote_text {
    position: relative;
    z-index: 2;
    font-size: 2.08vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.ProductInfo_card {
    align-items: center;
    justify-content: center;
    background-color: #272727;
    border-radius: 1.04vw;
    padding: 4.16vw 2.6vw;
    display: flex;
    flex-direction: column;
    gap: 2.12vw;
}

.ProductInfo_card_title {
    font-size: 2.6vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.1;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
}

.ProductInfo_card_content {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 2.08vw;
}

.ProductInfo_card_text {
    font-size: 1.15vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.1;
    text-align: justify;
    margin: 0;
}

.ProductInfo_list {
    align-items: center;
    justify-content: center;
    width: 70%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.ProductInfo_list_item {
position: relative;
padding-left: 1.3vw;
font-size: 1.15vw;
font-weight: 400;
letter-spacing: -0.03em;
line-height: 1.1;
text-align: justify;
}

.ProductInfo_list_item::before {
content: '';
position: absolute;
left: 0;
top: 0.4vw;
width: 0.52vw;
height: 0.52vw;
background-color: var(--clr-white);
border-radius: 50%;
}
.highlight {
background-color: var(--clr-white);
color: #272727;
padding: 0.1vw 0.3vw;
border-radius: 0.15vw;
display: inline;
line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 1024px) {
.ProductInfo {
    padding: 5.21vw 0;
}

.ProductInfo_grid {
    grid-template-columns: 1fr;
    gap: 3.91vw;
}

.ProductInfo_quote {
    min-height: 40vw;
    padding: 5.21vw 2.6vw;
}

.ProductInfo_letter {
    font-size: 52vw;
}

.ProductInfo_quote_text {
    width: 80%;
    font-size: 3.3vw;
}

.ProductInfo_card {

    border-radius: 2.6vw;
    padding: 5.21vw 3.91vw;
    gap: 3.91vw;
}

.ProductInfo_card_title {
    font-size: 4.3vw;
}

.ProductInfo_card_content {
    align-items: center;
    gap: 2.6vw;
}

.ProductInfo_card_text {
    align-items: center;
    justify-self: center;
    width: 70%;
    font-size: 2.1vw;
}

.ProductInfo_list {
    width: 51%;
    align-items: flex-start;
}

.ProductInfo_list_item {
    padding-left: 2.08vw;
    font-size: 2.1vw;
}

.ProductInfo_list_item::before {
    top: 1.2vw;
    width: 1.04vw;
    height: 1.04vw;
}
}

@media (max-width: 767px) {
.ProductInfo {
    padding: 8.33vw 0;
}

.ProductInfo_grid {
    grid-template-columns: 1fr;
    gap: 5vw;
}

.ProductInfo_quote {
    padding: 0;
    text-align: left;
    min-height: 55.56vw;

}

.ProductInfo_letter {
font-size: 82.67vw;
}

.ProductInfo_quote_text {
font-size: 5.67vw;
line-height: 1.1;
}

.ProductInfo_card {
    margin-bottom: 9vw;
border-radius: 2.56vw;
padding: 8.33vw 5.56vw;
gap: 5.56vw;
}

.ProductInfo_card_title {
font-size: 6.9vw;
}

.ProductInfo_card_content {
    width: 100%;
gap: 5.56vw;
}

.ProductInfo_card_text {
font-size: 4.5vw;
line-height: 1.3;
}

.ProductInfo_list {
    width: 100%;

}

.ProductInfo_list_item {
padding-left: 4.17vw;
font-size: 4.5vw;
line-height: 1.3;
}

.ProductInfo_list_item::before {
top: 2.5vw;
width: 2.22vw;
height: 2.22vw;
}
}
