.Button {
    display: flex;
    width: 21.61vw;
    height: 2.19vw;
    min-height: 42px;
    padding: 0.94vw 0;
    justify-content: center;
    align-items: center;
    gap: 0.52vw;
    border-radius: 5.08vw;
    font-size: var(--fs-16);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    cursor: pointer;
    border: none;
    transition: all 0.3s;
    font-family: 'Inter', sans-serif;
}

.Button--primary {
    background-color: var(--clr-white);
    color: var(--clr-black);
    border: 1px solid var(--clr-white);
}

.Button--outline {
    background-color: transparent;
    color: var(--clr-white);
    border: 2px solid var(--clr-white);
}

.Button:hover {
    opacity: 0.85;
}

.Button:active {
    transform: scale(0.98);
}

@media (max-width: 1024px) {
    .Button {
        width: 100%;
        min-height: 48px;
        font-size: 1.8vw;
    }
}

@media (max-width: 767px) {
    .Button {
        width: 100%;
        min-height: 50px;
        padding: 1.5vw 0;
    }
}
