/* src/components/StatCard/StatCard.css */
.StatCard {
    width: 100%;
    height: 11.6667vw; /* 224px / 1920px * 100 */
    background-color: var(--clr-dark-bg);
    border-radius: 1.0417vw; /* 20px */
    padding: 1.56vw;
    display: flex;
    flex-direction: column;

}

.StatCard_header {
    margin-bottom: 0.6vw;
}

.StatCard_title {
    font-size: 0.94vw; /* 18px */
    font-weight: 500;
    letter-spacing: -0.03em;
    line-height: 110%;
    color: rgba(255, 255, 255, 0.4);
    margin: 0;
}

.StatCard_content {
    display: flex;
    flex-direction: column;
    gap: 3.75vw;
}

.StatCard_value {
    font-size: 1.35vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 110%;
    color: var(--clr-white);
}

.StatCard_change {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 0.26vw;
}

.StatCard_change_percent {
    font-size: 0.73vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 110%;
}

.StatCard_change.positive .StatCard_change_percent {
    color: #00ff00;
}

.StatCard_change.negative .StatCard_change_percent {
    color: #ff0000;
}

.StatCard_change_description {
    font-size: 0.73vw; /* 14px */
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 110%;
    color: white;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .StatCard {
        height: 19.92vw;
        border-radius: 2.08vw;
        padding: 2.60vw;
    }

    .StatCard_header {
        margin-bottom: 2.08vw;
    }

    .StatCard_title {
        font-size: 2.4vw;
    }

    .StatCard_content {
        gap: 1.04vw;
    }

    .StatCard_value {
        font-size: 3.13vw;
    }

    .StatCard_change {
        gap: 0.52vw;
    }

    .StatCard_change_percent {
        font-size: 1.82vw;
    }

    .StatCard_change_description {
        font-size: 1.85vw;
    }
}

@media (max-width: 767px) {
    .StatCard {
        width: 100%;
        height: 31.39vw; /* 113px / 360px * 100 */
        border-radius: 2.78vw; /* 10px */
        padding: 2.56vw 2.56vw; /* 15px 20px */
    }
    .StatCard_content{
        gap: 7.75vw;
    }
    .StatCard_title {
        font-size: 4.5vw; /* 12px / 360px * 100 */
        font-weight: 400;
        line-height: 120%;
        color: rgba(255, 255, 255, 0.4);
    }

    .StatCard_value {
        font-size: 5vw; /* 22px / 360px * 100 */
        font-weight: 400;
        margin: 1.67vw 0; /* 6px 0 */
        line-height: 110%;
    }

    .StatCard_footer {
        gap: 0.83vw; /* 3px */
    }

    .StatCard_change {
        font-size: 3.33vw; /* 12px / 360px * 100 */
        font-weight: 600;
        gap: 0.8vw;
        align-items: center;
    }

    .StatCard_change_description {
        font-size: 4vw; /* 11px / 360px * 100 */
        font-weight: 400;
        line-height: 120%;
        color: white;

    }
    .StatCard_change_percent{
        font-size: 4vw;
        font-weight: 400;

    }
}
