.SeoText_section {
    width: 100%;
    background-color: #1e0d0d;
    padding: 5.21vw 0;
    border-radius: 50px 50px 0 0;
}

.SeoText_container {

    margin: 0 auto;
}

.SeoText_title {
    font-size: 2.60vw;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 110%;
    color: var(--clr-white);
    margin: 0 0 2.08vw 0;
}

.SeoText_columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.1vw;
    row-gap: 1.56vw;
}

.SeoText_column {
    display: flex;
    flex-direction: column;
}

.SeoText_text {
    font-size: 0.83vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 140%;
    color: var(--clr-white);
    margin: 0;
}

/* ========== TABLET (768px - 1024px) ========== */
@media (min-width: 768px) and (max-width: 1024px) {
    .SeoText_section {
        border-radius: 30px 30px 0 0;
        padding: 7.81vw 0;
    }

    .SeoText_container {
        max-width: 94.79vw;
        padding: 0 2.60vw;
    }

    .SeoText_title {
        font-size: 4.30vw;
        margin-bottom: 3.26vw;
    }

    .SeoText_columns {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 3.26vw;
    }

    .SeoText_text {
        font-size: 1.82vw;
        line-height: 150%;
    }
}

/* ========== MOBILE (360px - 767px) ========== */
@media (max-width: 767px) {
    .SeoText_section {
        border-radius: 20px 20px 0 0;
        padding: 16.67vw 0;
    }

    .SeoText_container {
        max-width: 100%;
        padding: 0 5.56vw;
    }

    .SeoText_title {
        font-size: 6.67vw;
        margin-bottom: 5.56vw;
    }

    .SeoText_columns {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 5.56vw;
    }

    .SeoText_text {
        font-size: 3.89vw;
        line-height: 155%;
    }
}
