.ForWhom {
    background-color: var(--clr-bg);
    color: var(--clr-white);
    padding: 5.21vw 0;
}

.ForWhom_container {
    margin: 0 auto;
}

.ForWhom_title {
    font-size: 2.6vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 0 2.08vw 0;
}

.ForWhom_description {
    display: flex;
    flex-direction: column;
    gap: 0.52vw;
    margin-bottom: 4.16vw;
}

.ForWhom_description p {
    font-size: 0.83vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.1;
    text-align: justify;
    margin: 0;
}

.ForWhom_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.08vw;
}

.ForWhom_card {
    background-color: #2a2a2a;
    border: 1px solid #555555;
    border-radius: 1.04vw;
    padding: 1.04vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 16.15vw;
}

.ForWhom_card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.69vw;
    height: 4.69vw;
    background-color: #272727;
    border-radius: 50%;

}

.ForWhom_card_icon img {
    width: 2.6vw;
    height: 2.6vw;
    object-fit: contain;
    filter: brightness(0) invert(1);
}

.ForWhom_card_text {
    font-size: 1.9vw;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.1;
    margin: 0;
    margin-top: 1.04vw;
}

.ForWhom_card_text .highlight {
    background-color: var(--clr-white);
    color: #272727;
    padding: 0.1vw 0.3vw;
    border-radius: 0.15vw;
    display: inline;
    line-height: 1.4;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .ForWhom {
        padding: 6.51vw 0;
    }

    .ForWhom_title {
        font-size: 4.21vw;
        margin-bottom: 3.91vw;
    }

    .ForWhom_description {
        gap: 1.04vw;
        margin-bottom: 5.21vw;
    }

    .ForWhom_description p {
        font-size: 1.8vw;
    }

    .ForWhom_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.3vw;
    }

    .ForWhom_card {
        border-radius: 2.6vw;
        padding: 2.6vw;
        min-height: 33vw;
    }

    .ForWhom_card_icon {
        width: 7.81vw;
        height: 7.81vw;
    }

    .ForWhom_card_icon img {
        width: 4.17vw;
        height: 4.17vw;
    }

    .ForWhom_card_text {

        font-size: 3.34vw;
        margin: 0;
    }

    .ForWhom_card_text .highlight {
        padding: 0.26vw 0.52vw;
        border-radius: 0.26vw;
    }
}

@media (max-width: 767px) {
    .ForWhom {
        padding: 8.33vw 0;
    }

    .ForWhom_title {
        font-size: 7.78vw;
        margin-bottom: 5.56vw;
    }

    .ForWhom_description {
        margin-bottom: 5.33vw;
    }

    .ForWhom_description p {
        font-size: 3.89vw;
        line-height: 1.3;
    }

    .ForWhom_grid {
        grid-template-columns: 1fr;
        gap: 4.17vw;
    }

    .ForWhom_card {
        border-radius: 5.56vw;
        padding: 2.8vw;
        min-height: 50vw;
    }

    .ForWhom_card_icon {
        width: 13.89vw;
        height: 13.89vw;
    }

    .ForWhom_card_icon img {
        width: 8.33vw;
        height: 8.33vw;
    }

    .ForWhom_card_text {
        font-size: 5.5vw;
        line-height: 1.3;

    }

    .ForWhom_card_text .highlight {
        padding: 0.56vw 1.11vw;
        border-radius: 0.56vw;
    }
}
