/* src/components/Layout/Layout.css */
.Layout {
    min-height: 100vh;
    background-color: var(--clr-bg);
}

.Layout_container {
    display: flex;
    position: relative;

    margin: 0 auto;
    gap: 1.04vw;
}

.Layout_main {
    flex: 1;
    padding: 2.08vw 0;
    min-height: calc(100vh - 4.38vw);
}

@media (min-width: 768px) and (max-width: 1024px) {
    .Layout_container {
        flex-direction: column;
        gap: 2.60vw; /* 20px / 768px * 100 */
        padding: 2.60vw; /* 20px padding */
        padding-bottom: 10.42vw; /* 80px для Sidebar внизу */
    }

    .Layout_main {
        padding: 0;
        min-height: auto;
    }
}

@media (max-width: 767px) {
    .Layout_container {
        flex-direction: column;
        gap: 0;
    }

    .Layout_main {
        padding: 5.56vw; /* 20px / 360px * 100 */
        padding-bottom: 27.78vw; /* 100px для Sidebar внизу */
        min-height: auto;
    }
}
